/**
    Title:  palindrome.css
    Author: Laurel Condon
    Date: 4 June 2023
    Description: css page for palindrome app
*/

/* Styles added week 2 for headers and card
*/
#assign-results-header {
    text-align: left;
  }
.card {
    width: 100%;
    text-align: center;
    margin: auto;
}

h1 {
    border: none;
    background-color: var(--background-color);
    color: var(--text-color);
}